<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Lista de Filmes</title>
    </head>
    <body>
    <div class="container">
        <h1>Lista de Filmes</h1>
        <div class="card mb-6" th:each="filme : ${filmes}" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img th:src="@{${filme.imagem}}" class="img-fluid rounded-start" alt="image not found">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${filme.titulo}"></h5>
                        <p class="card-text" th:text="${filme.descricao}"></p>
                        <p class="card-text" th:text="${filme.imdb}">/10</p>
                        <p class="card-text"><small class="text-muted" th:text="${filme.genero}"></small></p>
                    </div>
                    <div class="card-body">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th><a th:href="@{/filme/darlike/{id}(id=${filme.id})}">Like</a></th>
                                    <th><a th:href="@{/filme/dardislike/{id}(id=${filme.id})}">Dislike</a></th>
                                </tr>
                            </thead>
                           <tbody>
                                <tr>
                                    <td th:text="${filme.like}"></td>
                                    <td th:text="${filme.dislike}"></td>
                                </tr>
                           </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <p class="card-text"><a class="btn btn-success" th:href="@{/filme/editarfilme/{id}(id=${filme.id})}" >Editar</a></p>
                        <p class="card-text"><a class="btn btn-danger" th:href="@{/filme/removerfilme/{id}(id=${filme.id})}" onclick="return confirm('Tem certeza que deseja excluir este produto?')">Excluir</a></p>

                    </div>
                </div>

            </div>

        </div>
        <div class=""></div>
        <a th:href="@{/filme/novofilme}"  class="btn btn-primary">Adicionar novo filme</a>
        <a th:href="@{/}"  class="btn btn-primary">Voltar para Inicio</a>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>

</html>